<div class="modal-header">
  <h3 class=modal-title">Disable Jobs</h3>
</div>
<form method="post" class="form-horizontal">
  <div class="modal-body">

    <strong>Are you sure do you want to disable this jobs?</strong>
    <ul class="animate-repeat" ng-repeat="jenkins in checked_jenkinses">
      <li>{{jenkins.jobName}}</li>
    </ul>

  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="disableMassJobs()">Disable</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

</form>
